div.view-Animation {
    position: relative;
    display: inline-block;
    background: #fff;
    padding: 0;
    margin: .5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
}

div.view-Animation.float-right {
    clear: right;
    float: right;
    margin-left: 1rem;
}

div.view-Animation.float-left {
    clear: left;
    float: left;
    margin-right: 1rem;
}

div.view-Animation > canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
}
