div.view-Page {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}

div.view-Page > header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
